// Colors
$sapphire: #2B439C;
$chetwode-blue: #8194DB;
$blue-zodiac: #15255E;
$mine-shaft: #333333;
$athens-gray: #F0F1F4;
$silver-chalice: #AAAAAA;
$tuna: #3A3B3F;
$silver: #BFBFBF;
$gallery: #ECECEC;
$nightmares: #2F2F35;

$theme-colors: (
  primary: $nightmares,
  secondary: $blue-zodiac,
  info: $athens-gray,
  dark: $mine-shaft
);

// Headings
$font-size-base: 1rem;
$font-size-lg: $font-size-base * 1;
$font-size-sm: $font-size-base * .955;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.5;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base;
$headings-font-weight: 700;
$font-weight-bolder: 500;

// Spacing
$pixel-spacer: 1px !default;
// stylelint-disable-next-line scss/dollar-variable-default
@for $i from 1 through 500 {
  $spacers: map-merge($spacers, (
    $i: ($i * $pixel-spacer)
  ));
}

// Forms
$form-group-margin-bottom: 1.25rem;
$input-padding-x: 1.25rem;
$input-padding-y: 0.875rem;
$input-line-height: 1.375rem;
$input-font-size: 0.875rem;
$input-border-width: 0;
$input-height: 40px;
$input-bg: white;
$input-placeholder-color: $silver-chalice;
